:root{
    --primary-color : #FF7048;
    --secondary-color : #808080;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}
h1{
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    color: #24201D;
}
h2{
    font-size: 30px;
    font-weight: 700;
    color: #000 ;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: #000 ;

}
a:hover{
    text-decoration: none;
}
.nav{
    height: 50px;
}
.login{
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.signup{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 12px;
    margin-left: 30px;
    padding: 10px 30px;
    border: none;
}
.signup a{
    color: #fff;
}

#hero{
    margin-top: 35px;
}

.hero-tagline{
    margin-top: 100px;
}
.arrow img{
    width: 14px;
}
.arrow{
    background-color: transparent;
    border-radius: 50%;
    border: solid 0.5px var(--secondary-color);
    text-align: center;
    width: 40px;
    height: 40px;
}
.search{
    width: 70%;
    height: 130px;
    justify-content: center;
    background-color: #fff;
    margin-top: -75px;
    border-radius: 20px;
}
.line{
    width: 3px;
    height: 50px;
    background-color: #808080;
    border-radius: 2px;
}

.card{
    width: 375px;
    height: 250px;
    border: 1px solid #fefefe;
    border-radius: 20px;
    background-color: #fff;
    top: 0;
}
.card .price{
    color: #3A8375;
}
.card:hover{
    top: -10px;
    border: 1px solid #3A8375;
    transition: top ease 0.5s;
}
.search-bar{
    width: 70px;
    border-radius: 20px;
    height: 70px;
    background-color: var(--primary-color);
    align-items: center;
    display: flex;
    border: none;
}
.search-bar img{
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}